main {
    padding: 0px 80px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    height: 100px;
}

#menu ul {
    display: flex;
    list-style: none;
    max-width: 100%;
    justify-content: center;
    flex-flow: nowrap;
}

#menu ul li {
    display: inline;
    margin: 0px 1rem;
}

#menu ul li a {
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
}

#menu ul li a:hover {
    background-color: #67e0e0f6;
}
.fotos {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 30px 60px;
    cursor: pointer;
    margin: 0px 1rem;
}
.fotos a {
    border:  1px solid red;
}
